<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">

                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <h3>Psychogeography</h3>
                    <p class="text-faded">Psychogeography is basically how places make you feel. Places are defined by borders and boundaries, what's there and what isn't. Psychogeography is also about transforming the places where we live. It's about experiencing the urban environment in other ways. It's a reaction against the prescribed, officially allowed uses of places - that of consumption, entertainment, transit, habitation. It seeks towards a transformation of the everyday. It offers a critique of urban planning. It is a form of play. It's the poetry of place. It's the effect of an area on your emotions and thoughts. </p>

                    <p> By doing psychogeography, by walking across places and spaces in a different way, we may learn three new things: About the places themselves, about ourselves and how we relate to these particular spaces, and about space and place in general with possibly seeing a glimmer of whats really going on there.
                    </p>

                    <p class="text-faded">If ever there was a god of psychogeography, Terminus would be it, and Terminalia would be our feast day. The Festival of Terminalia has therefore been adopted by us! It is about the boundaries and borders, real, historical, fictional and imagined. Places of beginnings, endings and thresholds.
                    </p>


                </div>

                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <h3>Termnius & Terminalia</h3>
                    <blockquote>
                        "Neighbours gather sincerely, and hold a feast, And sing your praises, sacred Terminus: You set bounds to peoples, cities, great kingdoms: Without you every field would be disputed."
                        <footer>--From Ovid's Festivals - Book II</footer>
                    </blockquote>
                    <p class="text-faded">
                        Terminus was one of the really old Roman gods - he didn't have a statue, he was a stone marker - and his origin, associated with a physical object, and lack of the usual stories that go with the gods, may have originated from animalistic religions. He had influence over less physical boundaries too, like that between two months, or between two groups of people. Terminalia was celebrated on the 23rd February - which was the last day of the Roman Year, the boundary between two new years.

                    </p>
                    <img src="images/terminus.gif">
                    <blockquote>
                        A squared-off column is dug into the ground, a solid block; on it stands a bust of a man with ringlets, and proclaims he yields to no one. Such is Terminus; this end alone drives our race. The date is unmovable, the time foreordained by fates, and the last days bring a judgment on the first
                        <footer>--fromt Alciato's Book of Emblems: Emblem 158</footer>
                    </blockquote>

                    <p class="text-faded"> Traditionally, feasting and sacrifices were performed during Terminalia at boundary markers. In Roman times for the festival the two owners of adjacent property crowned the statue with garlands and raised a rude altar, on which they offered up some corn, honeycombs, and wine, and sacrificed a lamb or a sucking pig. They concluded with singing the praises of the god.</p>

                </div>


            </div>
        </div>
    </div>
</section>
