<section class="bg-primary more" id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Happy Terminalia!</h2>
                <hr class="light">
                <p>Terminalia is a one day festival of walking, space, place and psychogeography on Thursday 23rd Feburary 2017. There will be a number of free events in Leeds and around the world. Terminalia is the festival of Terminus, Roman god of boundaries and landmarks so if there was ever a god and festival for psychogeography this would be it! Events have been run <a class="dark" href="/past">on this day since 2011.</a>
                </p>
                <p class="text-faded">
                    Read here for a review by Phil Kirby of a previous walk: <a class="dark" href="http://theculturevulture.co.uk/blog/sponsored/a-drink-to-the-city/">
The Culture Vulture: A Drink To The City
</a></p>
                <hr class="light">

                <a href="#events" class="btn btn-default btn-xl">Show Events!</a>
            </div>
        </div>
    </div>
</section>
