<section class="bg-primary more" id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Happy Terminalia!</h2>
                <hr class="light">
                <p>Terminalia is a festival of walking, space, place and psychogeography on and around 23rd Feburary. Terminalia was the festival of Terminus, Roman god of boundaries and landmarks! Events have been run <a class="dark" href="/past">on this day since 2011.</a>
                </p>
                <!-- <p class="text-faded">
                    Want to run an event for Terminalia 2024? <a class="dark" href="#contact">Contact Tim</a> to add your event here. 
                    <br /> The theme for 2024 is "Time" <br />
                    Events should be psychogeographical, open to anyone and free. Events that are online only should have a good level of participation.<br />
                    You set up the event, do the advertising etc, handle the numbers etc and it can show up here. <br />
                </p> -->

        


                <hr class="light">

                 <a href="#events" class="btn btn-default btn-xl">Show Events for 2024</a> <br /> <br /> 
                <a href="/past" class="btn btn-default btn-xl">Show Past Events</a>
                <br />
               
                
            </div>
        </div>
    </div>
</section>
