<section class="bg-primary" id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Happy Terminalia!</h2>
                <hr class="light">
                <p>Terminalia is a one day festival of walking, space, place and psychogeography on Thursday 23rd Feburary 2016. There will be a number of free events in Leeds and around the world. Terminalia is the festival of Terminus, Roman god of boundaries and landmarks so if there was ever a god and festival for psychogeography this would be it! Events have been run on this day in Leeds since 2011.
                </p>
                <p class="text-faded">
                    Read here for a review by Phil Kirby of a previous walk: <a class="dark" href="http://theculturevulture.co.uk/blog/sponsored/a-drink-to-the-city/">
The Culture Vulture: A Drink To The City
</a></p>
                <hr class="light">
                <h2 class="section-heading">Open Call for Events</h2>
                <p>
                    If you want to run a walk or event and want to be associated with the festival, <a class="dark" href="/#contact">let me know</a> and we will add it to the website! It just needs to be free, psychogeographical, open to the public and
                    on 23rd Feb.
                </p>
                <p>
                    Interventions: The Beatings the Bounds walk has space for a few small interventions along the route and at the stones where participants will stop. <a class="dark" href="/#contact">Drop me a line</a> and we'll chat.
                </p>
                <a href="#events" class="btn btn-default btn-xl">Show Events!</a>
            </div>
        </div>
    </div>
</section>
