<section class="bg-primary events" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">Events</h2>        
                
                  <hr class="light">
                  
                  
                  <div class="col-lg-12 col-lg-offset-0 text-left event">
                    <h3>11am, Aberystwyth. Terminalia - An Aberystwyth Celebration Walk</h3>
                    <p class="text">
                      There will be a celebration of Terminalia in Aberystwyth. While the walls are no longer visible, their route is easy to trace. The town map is very clear to this day, and various historical sources <a href="http://archaeologydataservice.ac.uk/archiveDS/archiveDownload?t=arch-433-1/dissemination/jpg/coremaps/Aberystwyth_2.jpg">confirm the course</a> as: <br />
                    Castle Point, South to Tan Y Cae, Along to Heol Y Bont, Dan Dre, Chalybeate Street, Baker Street, Alfred Place, Crynfryn Row, Marine Terrace, King Street, Y Ro Fawr, Castle Point 
                    <br />
                    There were gates at Heol Y Bont, Great Darkgate Street, Eastgate and Pier Street, which will be noted as <a href="http://www.rogerdboyle.eu/Terminalia/Aberystwyth_2_w.jpg">part of the tour</a>. 
                    </p>
                    <p class="text-faded">
                    Meet at 11am, Castle Point (at the sea wall). <a href="http://www.rogerdboyle.eu/Terminalia/terminalia.html">More details about the walk</a>. Organised by <a href="http://www.rogerdboyle.eu/">Roger Boyle</a>. 
                    </p>
    
                  </div>
        
                  <div class="col-lg-12 col-lg-offset-0 text-left event">
                      <hr class="light">
                    <h3>11am, London, Vauxhall Bus Station: Exploring Boundaries and Monuments.</h3>
                    <p class="text">
                      We will be walking at 11.00 am from Vauxhall bus station to Waterloo station via Tate Britain, the site of <a href="http://www.tate.org.uk/whats-on/tate-britain/exhibition/mark-wallinger-state-britain">Mark Wallinger's, "State Britain"</a> in 2007.
                      <br />
                      We will then follow an exploratory walk to Trafalgar Square and on to St Paul’s , ending at Waterloo Station. This should take a couple of hours allowing for a tea or coffee break en route. In recognition of Terminus this walk will focus on exploring the memorials and statues along the trajectory.

                    We will observe how and what we choose to commemorate and celebrate through our public spaces. Each participant in the walk will receive a hand made rope which they can make knots in to record the experience of the walk.
                    </p>
                    <p class="text-faded">
                      Free. There is a also a <a href="pdf/penfold-exploring-boundaries-london-2017.pdf">follow up walk on 25th Feb in Seasalter, Kent</a>(PDF) to Micks Post. For further details and if you would like to attend please contact Elspeth Penfold   <A href=" mailto:elspethpenfold@yahoo.co.uk">elspethpenfold@yahoo.co.uk</a> and have a look at <a href="pdf/penfold-exploring-boundaries-london-2017.pdf">the pdf for this event</a>.  

                    </p>
    
                  </div>
        
                  
                  
                  <div class="col-lg-12 col-lg-offset-0 text-left event">
                    <hr class="light">
                    <h3>All day, Anywhere: Terminalia Synchronised Walk</h3>
                    <p class="text">
                    

          Women Who Walk Network members, friends and curious passersby are invited to take a dérive to celebrate the festival of Terminalia. In a tribute to the borderless and liminal, this synchronised walk links to the wider Terminalia Festival. Dérive as you like it – try one of these provocations or just follow your curiosity:

              1. Walk with friends, family or colleagues. Seek synchronicity. Discuss your findings. 2.  
              Disobey signage. Defy walls and boundaries. Walk in a straight line as far as you can. 3.
              Incorporate a catapult. Flip a coin at junctions. Follow your nose, or a noise, or an annoyance.
<br />
          Then share your experiences with fellow celebrants:

              For instant sharing, tweet while you walk. Upload thoughts, findings or images to <a href="https://twitter.com/womenwhowalknet">@womenwhowalknet</a> so Sonia can retweet them. Use <a href="https://twitter.com/search?q=%23terminalia">#terminalia</a> to follow the synchronised walk on Twitter and add your comments. For a more leisurely response, post your walking notes, comments or blog link to the <a ref="http://www.women-who-walk.org">network website</a>.



                    </p>
                    <p class="text-faded">
                      Curated by Sonia Overall, <a href="http://www.women-who-walk.org">Women Who Walk Network</a> 
                    </p>
    
                  </div>
                
                  
                  
                  
                  <div class="col-lg-12 col-lg-offset-0 text-left event">
                      <hr class="light">
                    <h3>12pm Cambridge, Castle Mound: Burn British Psychogeography!</h3>
                    <p class="text">
                    Public book burning of contemporary psychogeographical texts - an action against gentrificational and recuperational psychogeography on Castle Hill in Cambridge, the oldest site of Cambridge and key to the original Roman settlement - and of the legendary Cambridge ley-line. Fuel to the fire will be the double cross of the union and classics of contemporary BRITISH recuperational psychogeography of gentrification such as Sinclair, Self etc... The ashes will then be scattered through Cambridge on the derive that follows out descent from the ancient mound...
                    </p>
                    <p class="text-faded">
                      Free. Meet at Castle Mound, Cambridge. Action by <a href="http://www.psychogeography.org/burn-british-psychogeography-terminus-festival-2017/"> Cambridge Lettrist And Situationist Society</a>
                    </p>
    
                  </div>
                
                  
                  <div class="col-lg-12 col-lg-offset-0 text-left event">
                      <hr class="light">
                    <h3>12.40pm Leeds, Kirkgate Market: WorkersLunchTime</h3>
                    <p class="text">
                      Prepare for the Beating the Bounds walk by exploring the spatial and temporal limits of a lunchtime at Kirkgate Market, Leeds. <br />
                      Meet at 12.40 by the M&S clock, in the 1904 hall for a crowd-sourced tour of the largest covered market in Europe. Following our noses for around 25 mins we'll create a spontaneous platter map of vernacular gastronomy and then sit down to destroy it with our teeth and taste buds.
                    </p>
                    <p class="text-faded">
                    (Funded by the WLT small grants foundation. This tour was first conceived with Katie Etheridge and Simon Persighetti's for their 'Personal Shopper' project, Compass Festival 2016) By: <a href="https://twitter.com/wkrslunchtime">@wkrslunchtime</a>. Event is free but tickets are required.
                    </p>
                    <a href="https://www.eventbrite.com/e/workerslunchtime-tickets-31584915332?aff=es2" class="btn btn-default btn-xl">Tickets / Sign Up </a>
                  <br /><br /></div>
                  
                  
                  
                  <div class="col-lg-12 col-lg-offset-0 text-left event">
                    <hr class="light">
                    <h3>1.30pm Leeds, Kirkgate Market: Threads - a market mis-guide</h3>
                    <p class="text">
                      Inspired by <a href="https://hayleyalessi.wordpress.com">Hayley Alessi's</a> experiences of visits to the market as a small child, and other interactions with markets over the years.  The tour explores peoples’ connections to the market and to each other, and shows why markets are an important part of our social history. 

The walk reimagines the market through Hayley's personal stories and experiences, and invites the participants to share some of their own along the way.  To do this she has <a href="img/ball_thread.jpg">a ball of thread</a>, which she will unravel as we walk, and tie knots in to remember each story as it unfolds.
                    </p>
                    <p class="text-faded">
                      Meet at the M & S Clock in the 1904 hall.  The walk last approximately 40 mins. <br />
                      Created by <a href="https://hayleyalessi.wordpress.com">Hayley Alessi</a> for the <a href="https://compassliveart.org.uk//festival/events/personal-shopper1">Personal Shopper Cornucopia!</a> project in association with Katie Etheridge & Simon Persighetti for Compass Festival 2016.  For more info on this piece and other work see: <a href="https://hayleyalessi.wordpress.com">https://hayleyalessi.wordpress.com</a>
                    </p>

                  </div>
                  
                  
                  
                  <div class="col-lg-12 col-lg-offset-0 text-left event">
                    <hr class="light">
                    <h3>5.55pm Leeds, Central Road: "Centered: Threshold / Hearth"</h3>
                    <p class="text">
                      David Bollinger will spark off the Beating the Bounds walk with a short ritual sacrifice to the other Goddess of Psychogeography: Vesta. Vesta (or Hestia as the Greeks called her) is the goddess of liminal spaces, thresholds and hearths. Her place was the fireplace, the central hearth in every home. As another boundary entity she was responsible for the centre and thresholds, the boundary between spaces (Hermes is the god of travelling across boundaries and you know about Terminus). Sacrifices to this domestic, very early primitive goddess was often seen as being done for no reward, literally "going up in smoke."
                    </p>
                    <p class="text-faded"> 
                    Please meet in <a href="http://www.openstreetmap.org/#map=19/53.79656/-1.54128">Central Road, Leeds</a> opposite Little Tokyo. This is a very short event (5 mins). </p> 
                  </div>
                  
                  
                  <div class="col-lg-12 col-lg-offset-0 text-left event">
                    <hr class="light">
                  <h3>6pm Leeds, Central Road: Beating the Bounds - Circular walk around medieval boundary of Leeds.</h3>
                  <p class="text">6pm Departure from the midpoint of all the stones in <a href="http://www.openstreetmap.org/#map=19/53.79656/-1.54128">Central Road</a> (opposite Mrs Athas Cafe and Little Tokyo). 2-3 hrs (easy). Bring treats to share, flowers to leave and alcoholic or soft drinks to keep you warm! With events, interventions, and special performances from local artists. Led by Tim Waters</p>
                  <p class="text-faded"> 
                  We will be walking widdershins (anti-clockwise) around the city, visiting the ancient boundary markers that defined the medieval boundaries of the city. Traditionally, feasting and dances were performed during Terminalia at boundary markers, and we will do the same with things with cake, flowers and a drink! The boundary markers around Leeds are called bars (gates, possibly that barred off an entrance) and mark the borders where the city ended and the countryside began. Some stone markers still exist.</p>
                  
                  <div class="row">
                    <div class="col-md-4">
                     <div class="thumbnail">
                      <a href="img/leeds-bar-stones-map.jpg"> 
                        <img src="img/leeds-bar-stones-map.jpg" />
                      </a>
                       <div class="caption">
                         Map showing old stone "bars"
                       </div>
                     </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="thumbnail">
                      <a href="img/cossins_map_1725.jpg">
                      <img src="img/cossins_map_1725.jpg" />
                    </a>
                      <div class="caption">
                        Cossins Map of 1725 showing Woodhouse Bar & Burley Bar
                      </div>
                    </div>
                  </div>
                </div>
              
                  <h4>Beating the Bounds: Interventions and Performances</h4>
                
                  <p class="text-faded"><a href="http://hud.academia.edu/SimonBradley">Simon Bradley</a> will perform a guided tour of his "Pocket Museum of Displacements" at a location along the walk.  </p>
                  
                  <p class="text-faded"><a href="https://twitter.com/anzrboo">Anzir Boodoo</a> will perform a traditional Roman blessing at the city's transport termini. The walk may also visit the new glittering southern entrance to the railway station where an invocation to a Roman river god will be enacted as we stand over the water. </p>
                  
                  
                  <p class="text-faded">
                     Event is free, just turn up. Tickets are not required but help plan for numbers. 
                  </p>
                  <a href="https://www.eventbrite.com/e/terminalia-beating-the-bounds-a-psychogeographical-walk-tickets-31637533715" class="btn btn-default btn-xl">Beating the Bounds: Optional Tickets</a>
                </div>
                
              
      
                <div class="col-lg-12 col-lg-offset-0 text-left event">
                    <hr class="light">
                  <h3>6.30pm, London, Tapping Into The City: Group Walk - Regent's Place</h3>
                  <p class="text">
                    Tapping Into The City looks at our movements through private-public space in the city, the impact of urban surroundings on us and our relations with each other. <br />

                    Come and join in this live art piece/group walk through the city, starting at Regent's Place. Nathania will explain the piece and then we'll walk together for an hour or so. Afterwards we can retreat to a warm pub nearby.  No need for expertise, to practice or to perform - we will simply explore and respond to our surroundings and each other by moving as one through the city space and listening to its sound and the sound of our feet. Ideally we'll wear shoes with pennies stuck to the soles.
                  </p>
                  <p class="text-faded">
                    Further info and updates on event page <a href="http://www.facebook.com/events/127444644441344">http://www.facebook.com/events/127444644441344</a>. You can just turn up, but if you would like to contact Nathania in advance the email is nathaniah@gmail.com. Project and other works at <a href="http://www.nathaniahartley.com">www.nathaniahartley.com</a>
                    <br /> 
                    <br />
                    Free. 6.30pm. Meet at Regent's Place Plaza, at the seating blocks closest to Euston Tower. Closest tube - Warren Street.
                  </p>
  
                </div>
                  
            </div>
        </div>
    </div>
</section>
