<section class="bg-primary events" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-0 text-center">

        <h2>Call for Events</h2>
        <p><i>Your event here!</i> <br />Events should be : psychogeographical, open to anyone to attend, and ideally free to attend <br />(but sometimes things cost, and that's ok)<br />
          You set up the event, handle the numbers etc. <br />
          Events that are private, solitary, online only or not open to all will be placed in a smaller "participations" section of the site.  </p>
<!--
        <h2 class="section-heading">2018 Events Friday Feb 23rd </h2>

        --> 

        </div>

        <hr class="light">

 <!--
      <div class="col-lg-12 col-lg-offset-0 text-left event">
      
        <h3> </h3>
      
      
        <p class="text">
      
        </p>
        <p class="text-faded">
      
        </p>
      </div>

  -->

     

    
    </div>
  </div>
</section>