<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Terminalia - Festival of Psychogeography</h1>
            <h2>Friday 23 Feburary 2018</h2>
            <hr>
            <h2>Call for Events!</h2>
            <p>A one day festival of psychogeography on Friday 23rd Feburary 2018 with a number of free events in Leeds and across the UK!</p>
            <a href="#more" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
