<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Terminalia - Festival of Psychogeography</h1>
            <h2>Every 23rd February </h2>

            <p>A one day festival of psychogeography on 23rd February each year with a number of free events across the UK and the world!</p>
          
          <a href="#more" class="btn btn-primary btn-xl page-scroll">Add Your Event</a> 
           <!-- <a href="#events" class="btn btn-primary btn-xl page-scroll">Events</a>-->
        </div>
    </div>
</header>
