<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Terminalia - Festival of Psychogeography</h1>
            <h2>Every 23rd February</h2>

            <p>A festival of psychogeography and walking on and around 23rd February each year with a number of free events across the UK and the world!</p>
            <!-- <h3>CALL FOR EVENTS</h3>
            <a href="#more" class="btn btn-primary btn-xl page-scroll">Add Your Event</a>  <br /> <br /> -->
             <a href="#events" class="btn btn-primary btn-xl page-scroll">What happened in 2024</a>
        </div>
    </div>
</header>
