<section class="bg-primary" id="past-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">Previous Years</h2>
                <hr class="light">
                <p class="text-faded">Terminalia has been running since 2011 always on 23 Feb.</p>
                <a href="#2016" class="btn btn-default btn-xl">2016</a>
                <a href="#2015" class="btn btn-default btn-xl">2015</a>
                <a href="#2014" class="btn btn-default btn-xl">2014</a>
                <a href="#2013" class="btn btn-default btn-xl">2013</a>
                <a href="#2012" class="btn btn-default btn-xl">2012</a>
                <a href="#2011" class="btn btn-default btn-xl">2011</a>
            </div>
            <div class="col-lg-12 col-lg-offset-0 text-left">
                <h3 id="2016">2016</h2>

                  
                        <h4>* Leeds - Terminalia Turbo Dérive 3pm. Central Leeds.</h4>
                    <p>
                        Sound artist Phill Harding will lead a silent walk of rapid passage and high velocity through central Leeds following a dynamic algorithmically derived route.
                    </p>

                    <p>
                        <h4>* Leeds - Beating the Bounds 6pm eeting in The North Bar Pub, North Street, then around the city. Free. </h4>

                        Leeds - Beating the Bounds - Circular walk around medieval boundary of Leeds. Bring treats to share, flowers to leave and drinks to keep you warm! With events, interventions, and special performances from local artists. More details coming soon. We will be walking in an clockwise direction around the city, visiting the ancient boundary stone markers that defined the medieval boundaries of the city. Traditionally, feasting and sacrifices were performed during Terminalia at boundary
                        markers, and we will do the same with things like poetry, cake, flowers or a drink! The boundary markers around Leeds are called bars (gates, possibly that barred off an entrance) and mark the borders where the city ended and the countryside began. Most are recorded and some still exist.

                        <h5> Simon Bradley: Displacement Activity</h5>
                        A special Displacement Activities intervention involving the group participating in a sonic boundary ritual will occur at some undisclosed part of the walk.

                        <h5> Performances</h5>
                        Anzir Boodoo will perform a traditional Roman blessing at the city's transport termini. The walk may also visit the new glittering southern entrance to the railway station where an invocation to a Roman river god will be enacted as we stand over the water.

                        <h5>Mapping the intangible.</h5>
                        This year our walk will include the opportunity to contribute to a new map of the city which will endeavor to contain some of our thoughts, feelings, memories and insights about the experience of Leeds. Liz Cable, Senior Lecturer in Digital Narratives at Leeds Trinity University will collate and curate your responses to the prompts of the city, and your experience of the Festival: photographs, doodles, memories, prose, poetry, sounds, commentary. What memories do we leave behind as as we walk into the new year. What wishes do we have for this city? Our collection will be mapped onto the city using augmented reality and available for download and re-experience as a mobile app.
                    </p>
                    
                    <p>
                        <h4>* Symposium – Taking it to the Streets: Empowering Interactions with the Urban Environment 6pm-7.15pm. Business and Law building, Edge Hill University, Ormskirk. Free.</h4>
                        This symposium explores the concept of psychogeography, the practice of attentive walking used by a diverse range of writers, activists, artists and performers. With talks by Dr Andrea Capstick, Morag Rose, and Phil Smith.
                    </p>
                    
                    <div class="row">
                    
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="/img/past/2016/bus.jpg" style="width:100%">
                           <div class="caption">
                             Anzir blesses the walkers
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">                    
                           <img src="/img/past/2016/bus2.jpg" style="width:100%">
                           <div class="caption">
                             The blessings.
                           </div>              
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">                    
                           <img src="/img/past/2016/walkers_relax.jpg" style="width:100%">
                           <div class="caption">
                             The walkers relax with a pint after the walk.
                           </div>              
                       </div>
                     </div>
                   </div>
                     
                    <h3 id="2015">2015</h3>
                    
                      
                      <h4>Beating the Bounds 4.15pm Leeds</h4>

                      <p>
                       Circular walk around medieval boundary of Leeds 
                      </p>

                      <p>
                      New for this year, the North Bar Stone has been discovered!
                      <br />
                      We will be walking in an anti-clockwise direction (widdershins) this year around the city, visiting the ancient boundary markers that defined the medieval boundaries of the city. Traditionally, feasting and sacrifices were performed during Terminalia at boundary markers, and we will do the same with things like poetry, cake, flowers or a drink. The boundary markers around Leeds are called bars (gates, possibly that barred off an entrance) and mark the borders where the city ended and the countryside began. Most are recorded and some still exist.

                      </p>
                      <p>
                      Bring yourselves, sticks, warm clothes and to share: some cake, drinks and flowers!
                      </p>


                    </p>
                    
                    <div class="row">
                    
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="/img/past/2015/north_bar_old.jpg" style="width:100%">
                           <div class="caption">
                             The North Bar being added to the old bus station wall
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">                    
                           <img src="/img/past/2015/north_bar_uncovered.jpg" style="width:100%">
                           <div class="caption">
                             The North Bar is finally uncovered!
                           </div>              
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">                    
                           <img src="/img/past/2015/uncovered_close_up.jpg" style="width:100%">
                           <div class="caption">
                             The North Bar sees the air.
                           </div>              
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">                    
                           <img src="/img/past/2015/east_bar_puppet.jpg" style="width:100%">
                           <div class="caption">
                             The East Bar and A Puppeteer and Puppet!
                           </div>              
                       </div>
                     </div>
                   </div>


                    <h3 id="2014">2014</h3>
                  
                      <h4>Beating the Bounds - Circular walk around medieval boundary of Leeds 4pm  </h4>
                      
                      <p>
                      We will be walking in a clockwise direction around the city, visiting the ancient boundary markers that defined the medieval boundaries of the city. Traditionally, feasting and sacrifices were performed during Terminalia at boundary markers, and we will do the same with things like poetry, cake, flowers or a drink! The boundary markers around Leeds are called bars (gates, possibly that barred off an entrance) and mark the borders where the city ended and the countryside began. Most are recorded and some still exist.
                      </p>

                      <p>
                      Meet at 4:00 for a 4:15 departure at the North Bar bar (24 New Briggate) then clockwise to the East Bar by the Parish Church, then onto the South Bar, (Adelphi comfort stop) then to the West Bar, near City Square and onto the Burley Bar (Woodhouse Lane) and completing the circle back at the North Bar for further festivities.
                      <br />
                      Sign up details: <br />
                      <a class="dark" href="https://www.facebook.com/events/742473979110556">Facebook Event Page</a>
                                          </p>

                        
                        <p>Read here for a review by Phil Kirby of the 2014 walk!  <a  class="dark" href="http://theculturevulture.co.uk/blog/sponsored/a-drink-to-the-city/">
                      The Culture Vulture: A Drink To The City </a>
                      </p>
                    </p>
                    
                    <div class="row">
                    
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="/img/past/2014/east_bar.jpg" style="width:100%">
                           <div class="caption">
                             The East Bar
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">                    
                           <img src="/img/past/2014/north_bar_alley.jpg" style="width:100%">
                           <div class="caption">
                             The group starts the walk in this alley
                           </div>              
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2014/north_bar_hidden.jpg" style="width:100%">
                           <div class="caption">
                            Tim indicates where the North Bar is covered up.
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2014/south.jpg" style="width:100%">
                           <div class="caption">
                          South Bar
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2014/wood.jpg" style="width:100%">
                           <div class="caption">
                            Around the Woodhouse Bar
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2014/woodhouse-bar-group.jpg" style="width:100%">
                           <div class="caption">
                            Group by the Woodhouse Bar
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2014/woodhouse2.jpg" style="width:100%">
                           <div class="caption">
                            Woodhouse Bar
                           </div>
                       </div>
                     </div>
                     
                   </div>

                    <h3 id="2013">2013</h3>
                    
                      <h4>Terminalia - Circular Walk 2pm Leeds</h4>
                      <p>
                        <a class="dark" href="https://www.facebook.com/events/339145849528220/">Facebook Event Page</a>
                        
                    </p>
                    <p>
                      CELEBRATE TERMINALIA - the festival of Terminus - Roman god of boundaries on Saturday 23rd February, 2pm Leeds.

  We will be walking in a clockwise direction around the city, visiting the ancient boundary markers that defined the medieval boundaries of the city. Traditionally, feasting and sacrifices were performed during Terminalia at boundary markers, and we will do the same with things like poetry, cake, flowers or a drink! The boundary markers around Leeds are called bars (gates, possibly that barred off an entrance) and mark the borders where the city ended and the countryside began. Most are recorded and some still exist. In addition to the historical boundaries that we encounter, you are invited to discover the hidden and not so hidden boundaries and borders that are concrete, social, political or virtual in the city.

  Meet at 2:00 for a 2:15 departure at the North Bar bar (24 New Briggate) then clockwise to the East Bar by the Parish Church, then onto the South Bar, (Adelphi comfort stop) then to the West Bar, near City Square and onto the Burley Bar (Woodhouse Lane, and should be viewable this year!) and completing the circle back at the North Bar for further festivities.
                    
                    </p>
                    <div class="row">
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="/img/past/2013/map.jpg" style="width:100%">
                           <div class="caption">
                             Participants were given a map of the bars <br />
                             "Toner" map style ©<a href="http://maps.stamen.com/toner">Stamen</a> (CC BY 3.0). Map data ©<a href="http://www.openstreetmap.org">OpenStreetMap</a> contr
                           </div>
                       </div>
                     </div>
                   </div>


                    <h3 id="2012">2012</h3>
                    
                      <h4>Terminalia Leeds Roman Circular Walk</h4>
                    <p>
                        <a class="dark" href="https://weavingsandunpickings.wordpress.com/2012/06/07/leedsterminalia/">Review of Leeds Terminalia 2012 by Penny Goodman</a>
                      

                    </p>
                    <div class="row">
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="/img/past/2012/burley-bar-inside.jpg" style="width:100%">
                           <div class="caption">
                             The Burley Bar
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">                    
                           <img src="/img/past/2012/north-bar-group.jpg" style="width:100%">
                           <div class="caption">
                             The group tries to find the missing North Bar
                           </div>              
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2012/south-bar-group.jpg" style="width:100%">
                           <div class="caption">
                            South Bar Group
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2012/west-bar-poem.jpg" style="width:100%">
                           <div class="caption">
                            Ovid by the West Bar (The Trinity Shopping Centre under construction)
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2012/woodhouse-bar-flowers.jpg" style="width:100%">
                           <div class="caption">
                            Looking for the Woodhouse Bar
                           </div>
                       </div>
                     </div>
                   </div>


                    <h3 id="2011">2011</h3>
                  
                      
                      <h4>Terminalia Leeds Roman Circular Walk</h4>
                      <p>  
                      A more exploratory evening walking by a small group.


                    </p>


                    <div class="row">
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="/img/past/2011/eastbar.jpg" style="width:100%">
                           <div class="caption">
                             The East Bar
                           </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">                    
                           <img src="/img/past/2011/map_eastbar.jpg" style="width:100%">
                           <div class="caption">
                             The Map by the East Bar
                           </div>              
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="thumbnail">
                           <img src="img/past/2011/noentry_eastb.jpg" style="width:100%">
                           <div class="caption">
                            This way was barred.
                           </div>
                       </div>
                     </div>
                   </div>


            </div>
        </div>
    </div>
</section>