<section class="bg-primary past" id="past">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Previous Years</h2>
                <hr class="light">
                <p class="text-faded">Terminalia has been running since 2011 always on 23 Feb. Click the link below to read up on previous years events and see a bunch of photos from previous years.</p>
                <a href="/past" class="btn btn-default btn-xl">Past Years </a>
            </div>
        </div>
    </div>
</section>
